.category{
  width: 324px;
  padding-top: 18px;
  padding-bottom: 17px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border-bottom: 1px solid $color-dark ;

  

  .icon{
    height: 19px;
    width: 19.5px;
    margin: 6.4px;
  }
  
  .collapsible{
    
    padding-top:5px;

  }
}
.category:active {
  background-color: #4FD053;
}
.category:hover{
  cursor: pointer;
  background-color: $color-medium;
  
  
}

