.categoryListItem{
  width: 278px;
  height: 56px;
  
  background-color: #f5f5f5;
  color:#666666;
  border-bottom: 1px solid gray;;
  
  .item-icon{
    height: 19px;
    width: 19.5px;
    margin-top: 18px;
    margin-right: 14px;
  }
}