.App {
  height: 100vh;
  width: 324px;
  border: 1px solid grey;
 
  .header{
   height: 64px;
   width: 324px;
   padding: 12px;
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   position: fixed;
   z-index: 1;
   top:0;
   

    img{}

    .shop{
     display: flex;
     flex-direction: column;
     justify-content: center;
    }
  }
  .catalogue{
    position: relative;
    margin-top:64px;
    
  }
}
